---
layout: default
title: "Publications"
permalink: /publications/
---

<section id="journal-articles">
  <h2>Journal Articles</h2>
  <!-- Articles go here -->
</section>

<section id="conference-proceedings">
  <h2>Conference Proceedings</h2>
  <!-- Entries go here -->
</section>

## Publications:

<ul class="pub-list">
  {% assign pubs = site.data.publications %}
  {% for pub in pubs %}
    <li>
      <strong>{{ pub.authors }}</strong> ({{ pub.year }}).<br>
      <em>{{ pub.title }}</em>.<br>
      {% if pub.journal %}
        {{ pub.journal }}, <strong>{{ pub.volume }}</strong>({{ pub.issue }}), {{ pub.pages }}.<br>
      {% endif %}
      {% if pub.patent_office %}
        Patent {{ pub.patent_office }} - {{ pub.patent_number }} ({{ pub.publication_date }})<br>
      {% endif %}
      {% if pub.doi != '' %}
        <a href="{{ pub.doi }}" target="_blank">{{ pub.doi }}</a>
      {% endif %}
    </li>
  {% endfor %}
</ul>

