<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ page.title }}</title>
  <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
  <link rel="icon" href="{{ '/assets/favicon.ico' | relative_url }}">
</head>
<body>

  <header class="site-header">
    <div class="header-container">
      <!-- Left: Lab Logo as clickable link to Home -->
      <a href="{{ '/' | relative_url }}">
        <img src="{{ '/assets/favicon.ico' | relative_url }}" alt="Lab Logo" class="lab-header-logo" style="height: 60px;>
      </a>

      <!-- Center: Navigation -->
      <nav class="site-nav">
        {% for path in site.header_pages %}
          {% assign nav_page = site.pages | where: "path", path | first %}
          {% if nav_page %}
            <a class="page-link" href="{{ nav_page.url | relative_url }}">{{ nav_page.title }}</a>
          {% endif %}
        {% endfor %}
      </nav>
    </div>
  </header>

  <main class="page-content">
    {{ content }}
  </main>

<footer class="site-footer" style="text-align: center; height: 60px;">
  <img src="/assets/Logo.png" alt="UD Logo" style="height:50px;">
</footer>

</body>
</html>
